<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48261939698-511gi4plqr8gcq2banpm9v4sv5b2egbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48261939698-511gi4plqr8gcq2banpm9v4sv5b2egbk</string>
	<key>API_KEY</key>
	<string>AIzaSyDcU3ADTOeoKhz6QnC7F8ATn-kZ47QrMSc</string>
	<key>GCM_SENDER_ID</key>
	<string>48261939698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.altom.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-62f41</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-62f41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48261939698:ios:08f1486d8906fc23caab6b</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-62f41.firebaseio.com</string>
</dict>
</plist>